.btnContainer {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.btn {
    width: 55px;
    height: 55px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(78, 76, 71);
    color: white;
    font-size: 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}