h1 {
  font-weight: 700;
  margin: 45px;
  font-size: 45px;
  margin-bottom: 40px;
}

input {
  width: 100%;
}

.item-container {
  text-align: left;
}

.kg-row {
  margin: 20px;
}

.kg-butoon {
  width: 110px;
  margin-left: 75px;
}

